<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rangi Lin's blog</title>
    <meta name="viewport" content="width=device-width">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="header">
      <div id="menu">
        <a id="menu-heading" href="{{ .Conf.BaseUrl }}" > /home/rangi/blog </a>
        <ul>
          <!-- <li><a href='{{ .Conf.BaseUrl }}{{ "about-me/" }}'><i class="fa fa-smile-o"></i> About </a></li> -->
          <!-- <li><a href="/feed.xml"><i class="fa fa-rss"></i> RSS </a></li> -->
        </ul>
      </div>
    </div>
    <div id="content">
      {{ template "content" . }}
    </div>
  </body>
</html>
